<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de"> ecCustomerBasketPopUp  </label>
    <label lang="en"> ecCustomerBasketPopUp </label>

    <version> 1.0.0 </version>
    <copyright> © </copyright>
    <author> Evgenij Brandes </author>

</plugin>